body { 
	font:14px verdana;
	color: white 
	text-align:center;
	padding:40px;}

#wrapper {
	margin:5px auto;
	padding-bottom: 40px;
	background: #00B869;
	width:400px;
	border:1px solid ##171814;
	border-radius: 25px;}

#chat_header {
	padding:12px 20px 12px 20px;
    font-size: 16px;
    color: #ffffff; 
	text-align:center;}

#chat_message {
	text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#0065C1;
    height:275px;
    width:350px;
    border:1px solid #ACD8F0;
    border-radius: 40px;
    overflow:auto; }